h1 {
  color: turquoise;
  font-family:'arial'sans-serif;
  font-size: 42;
  margin bottom:: auto;
}

img {
  height: 100;
  width: auto;
  margin-bottom: auto;

}

.jumbotron {
  background-color: #FFFFFF
}

.jumbotron-dark {
  background-color:#d6fce7
}

.jumbotron-other {
  background-color: #FCF4D6
}

.jumbotron-blue {
  background-color: #ccf3ff
}

button {
  background-color:#C5F9F9

}

.navbar-header {
  height:60px;
}

.searchBar {
  margin-top: 7px;
  float: right;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: white; /* Grey background */
}

.skills {
    text-align: auto; /* Right-align text */
    padding-right: 10px; /* Add some right padding */
    line-height: 30px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: black; /* White text color */
}

.html {width: 90%; background-color: #f7cde3;}
.css {width: 5%; background-color: #eecdf7;}
.js {width: 3.5%; background-color: #d4cdf7;}
.php {width: 1.5%; background-color: #cddef7;}
