h1{
  color: turquoise;
  font-size: 42;
  margin-bottom: auto;
}
h2{
  color: black;
}
p{
  color: black;
}
img{
  height:100;
  width:auto;
  margin-bottom: auto;
}
h3{
  color: black;
}
.jumbotron{
  color: black;
  background-color: #FCF4DC;
}
button{
  color: black;
  background-color:#C5F9F9;
}
.carousel-item img{
height:300px;
width:auto;
}
.navbar-header {
  height:60px;
}
.searchBar{
  margin-top: 7px;
  float:right;
}
