h1{
  color: turquoise;
  font-size: 42;
  margin-bottom: auto;
}
h2{
  color: black;
}
p{
  color: black;
}
img{
  height:100;
  width:auto;
  margin-bottom: auto;
}
h3{
  color: black;
}
.jumbotron{
  color: black;
  background-color: #FCF4DC;
}
button{
  color: black;
  background-color:#C5F9F9;
}
.carousel-item img{
height:300px;
width:auto;
}
.navbar-header {
  height:60px;
}
.searchBar{
  margin-top: 7px;
  float:right;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month .prev {
    float: left;
    padding-top:10px;
  }
.month .next {
    float: right;
    padding-top: 10px;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
.days {
    padding: 20pz;
    background: #eee;
    margin: 0;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.3%;
    text-align: center;
    padding-bottom: 25px;
    font-size:12px;
    color: #777;
}
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
